{% extends "base.html" %}

{% block head %}
    <title>Server: {{server.name}}</title>
{% endblock %}

{% block content %}
<h1>Server: {{server.name}}</h1>

<hr>

{% for field, errors in form.errors.iteritems() %}
<div class="alert alert-error">
    {{ field }}: {{ ', '.join(errors) }}
</div>
{% endfor %}

<form class="form-horizontal" role="form" action="" method="post">
    {{form.hidden_tag()}}
    <div class="form-group col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label">Name:</label>
            <div class="col-md-8">
                {{form.name(class="form-control", value=server.name)}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">DNS:</label>
            <div class="col-md-8">
                {{form.dns(class="form-control", value=server.dns)}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">IP:</label>
            <div class="col-md-8">
                {{form.ip(class="form-control", value=server.ip)}}
            </div>
        </div>
        <div class="form-group">            
            <label class="col-md-4 control-label">Ping:</label>
            <div class="col-md-8">
                <div class="checkbox">
                    {% if server.sensor_ping %}
                    {{form.sensor_ping(checked=True)}}
                    {% else %}
                    {{form.sensor_ping()}}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Telnet:</label>
            <div class="col-md-8">
                <div class="checkbox active">
                    {% if server.sensor_telnet %}
                    {{form.sensor_telnet(checked=True)}}
                    {% else %}
                    {{form.sensor_telnet()}}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-5">
                <input class="btn btn-primary form-control" type="submit" value="Save">
            </div>
        </div>
    </div>
</form>

{% endblock %}