{% extends "base.html" %}

{% block head %}
    <title>Monitor</title>
{% endblock %}

{% block content %}
<h1>Server: {{server.name}}
    <a href="{{url_for('server_profile', server_id=server.id)}}">
        <sup><small><i class="glyphicon glyphicon-pencil"></i></small></sup>
    </a>
</h1>

<hr>

<div class="row"><div class="col-md-3">
<table class="table table-bordered"><tbody>
    {% for sensor in server.sensor %}
    <tr>
        <td class="col-md-10">{{sensor.name}}</td>
        <td id="srv{{server.id}}-snr{{sensor.id}}" class="col-md-2 text-center">-</td>
    </tr>
    {% endfor %}
</tbody></table>
</div></div>

{% endblock %}